*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html {
    --primary-color: #0f6666;
    --secondary-color: #999;
    font-family: sans-serif;
}

input:focus {
    outline: none;
}

body {
    background-color: #595a53;
}

header {
    background-color: #232422;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0 3px 10px;
    text-shadow: 0px 0px 10px;
}

form,
.player-setup,
.symbols {
    display: flex;
}

form {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.player-setup {
    align-items: center;
    gap: 30px;
}

.symbols {
    gap: 10px;
}

.player-name {
    font-size: 1rem;
    width: 200px;
    padding: 7px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 5px;
}

.symbol input {
    visibility: hidden;
    position: absolute;
}

.symbol input:checked + label {
    background-color: var(--secondary-color);
}

.symbol label {
    background-color: var(--primary-color);
    border: 1px solid #000;
    padding: 8px 40px;
    border-radius: 5px;
}

.symbol label:hover {
    background-color: var(--secondary-color);
}

.submit {
    font-size: 1rem;
    background-color: var(--primary-color);
    border: 1px solid #000;
    padding: 8px 20px;
    border-radius: 5px;
}

button,
label {
    cursor: pointer;
}

.game {
    display: flex;
    justify-content: space-around;
}

.scoreboard {
    font-size: 1.6rem;
    background-color: var(--primary-color);
    padding: 10px 30px;
    width: 270px;
    height: 300px;
    box-shadow: 0 0 10px 0px;
    border-radius: 15px;
}

.scoreboard .name {
    text-align: center;
    margin-bottom: 70px;
}

.scoreboard-body {
    width: 60%;
}

.scoreboard-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 430px;
    aspect-ratio: 1;
    cursor: pointer;
    box-shadow: 0 0 0 1px #00ffff99;
}

.tile {
    box-shadow: inset 0 0 1px 1px #00ffff99;
}

.tile:hover {
    box-shadow: inset 0 0 1px 2px #00ffff99;
}

.restart {
    text-align: center;
    margin-top: 50px;
}

.restart button {
    font-size: 1.1rem;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 1px 1px #000;
}

.hide {
    display: none;
}
